header {
    padding: 50px;
    background-image: url(../img/business.jpg);
    background-repeat: no-repeat;
    height: 400px;
    h2 { 
        font-size: 1.2rem;
    }
    form { 
        margin-top: 50px;
        max-width: 400px;
    }
}
    